@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .inputBox {
        @apply ring-2 ring-gray-300 rounded-md pl-2.5 pr-2.5 focus:outline-none outline-none duration-200 focus:ring-2 focus:ring-blue-400 focus:shadow-lg w-full
    }
}